<div class="row">
  <div class="col-sm-12">
    <img [src]="recipe.imagePath"
         alt="{{ recipe.name }}"
         class="img-responsive"
         style="max-height: 200px;">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="dropdown" appDropdown>
      <button class="btn btn-primary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Manage Recipe <span class="caret"></span>
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li class="dropdown-item"><a href="#">Shopping List</a></li>
        <li class="dropdown-item"><a href="#">Edit Recipe</a></li>
        <li class="dropdown-item"><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    Ingredients
  </div>
</div>
